.main {
  background-color: white;
  max-width: 500px;
  height: auto;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;

  transition: height 300ms linear
}

.main > h1 {
  font-size: 20px;
  text-align: center;
}




