<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes</title>
</head>
<body>
    <div class="container">
        <h1>Modelo</h1>
        <div class="container-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, iste? Dicta sint itaque rem! Itaque, nulla nostrum ipsa placeat iste animi architecto tenetur facilis, vero numquam distinctio optio explicabo. Placeat?</p>
        </div>
    </div>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>