<%- include('./includes/head') %>
<body>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <form action="/" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="client">Client</label>
            <input type="text" name="client" id="client">
            <button>Submit</button>
        </form>
    </div>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>